.venv/
tmp/

__pycache__/
*.py[cod]

build/.Xil/
build/vivado_*/
build/vivado_ro*/
build/vivado_leakage_*/
build/bnn_conv1_hls_*/
build/xsim*/

*.jou
*.str
*.wdb
*.pb
*.backup.log
usage_statistics_webtalk.*
desktop.ini
